.c-cuadrado {
  width: var(--width-100);
  height: var(--height-100);
  background-color: var(--color-blue--50);
  animation-duration: var(--duracion-10s);
  animation-timing-function: var(--velocidad-linear);
}