



:root {

  @each $color, $valor_color in $variantes {
    @for $i from 1 through $num-claves {
      $color-especifico: nth($valor_color, $i);
      $clave-especifica: nth($claves, $i);

      --color-#{$color}--#{$clave-especifica}: #{$color-especifico};
    }
  }

    @for $i from 1 to length($margin) {
      $super_i: $i * 10;
      $key: nth($margin, $i);
      --margin-#{$super_i}: #{$key};
    }

  @each $key, $value in $padding {
    --padding-#{$key}: #{$value};
  }


    @each $key, $value in $font-size {
        --font-size-#{$key}: #{$value};
    }
}