
<h1>INTERPOLACIÓN</h1>
<h2>Estamos viendo el {{titulo}}</h2>

<img [src]="img" alt="No carga esta imagen, es para el ejemplo del []">
<br>
<button [disabled]="desactivado" (click)="mensaje()">Botón</button>

<h1>DATA BINDING</h1>

<button class="btn btn-danger" id="120" (click)="idBoton($event)">Botón ID</button>

<input type="text" [(ngModel)]="nombre2WDB">
<h3>{{nombre2WDB}}</h3>
<button (click)="cambiarNombre()">Cambiar nombre</button>

<br>
<input type="checkbox" [(ngModel)]="isChecked">
<p>Checkbox is {{isChecked ? 'sí' : 'no'}}</p>

<input type="text" [(ngModel)]="valorTexto">
<p>Valor: {{valorTexto}}</p>
<button (click)="valorTexto = ''">Limpiar</button>
<button (click)="cambiarValor()">Cambiar valor</button>

<h1>DIRECTIVAS</h1>
@if (isChecked) {
  <div style="background-color: greenyellow">Está logeado ARROBA_IF</div>
} @else {
  <div style="background-color: red">No está logeado ARROBA_IF</div>
}

<br>

@switch (numeroSwitch) {
  @case (1) {
    <div>1 ARROBA_SWITCH</div>
  }
  @case (2) {
    <div>2 ARROBA_SWITCH</div>
  }
  @case (3) {
    <div>3 ARROBA_SWITCH</div>
  }
  @default {
    <div>Otro número cualquiera ARROBA_SWITCH</div>
  }
}

<br>

@for (bucle of bucleFor; track bucle) {
  <div>{{bucle}} ARROBA_FOR</div>
} @empty {
  <div>No hay datos ARROBA_FOR</div>
}

<h1>COMUNICACIÓN ENTRE COMPONENTES</h1>
<h2>ANIDAMIENTO DE COMPONENTES (NO HAY COMUNICACIÓN)</h2>
<app-header></app-header>

<h2>COMUNICACIÓN PADRE-HIJO</h2>
<p>Básicamente solo meto entre corchetes el dato a pasar y lo interpolo (y hago ARROBA_INPUT en el hijo):</p>
<app-hijo-para-padre-hijo [dato1]="100" [dato2]="variablePadreHijo"></app-hijo-para-padre-hijo>
<button class="btn btn-success" (click)="incrementar()">Incrementar valor en hijo</button>

<h2>COMUNICACIÓN HIJO-PADRE</h2>
<app-hijo-para-hijo-padre (mensajeParaPadre)="muestraMensaje($event)"></app-hijo-para-hijo-padre>
Mensaje enviado desde el hijo: {{mensajeDelHijo}}

<h2>COMUNICACIÓN BIDIRECCIONAL</h2>
La haré con el ejemplo de Cards que ha hecho Salva para poder entenderlo bien.
dwqf
<app-cards></app-cards>

Ídem con Pokédex:
<app-pokedex></app-pokedex>

Ídem con Digimon:
<app-digipedia></app-digipedia>

<h1>SERVICIOS E INYECCIÓN DE DEPENDENCIAS</h1>
<app-articulos-con-servicios></app-articulos-con-servicios>

<h1>OBSERVABLES</h1>
<app-ejemplo-observables></app-ejemplo-observables>

<h1>ROUTER OUTLET</h1>
<app-router-header></app-router-header>
<router-outlet />

<br>
<br>
<br>
<br>
<br>

<h1>HTTP CLIENT</h1>
<app-articulos></app-articulos>
