/*:root {
  --color-principal-1: #7c2d12;
  --color-principal-2: #9a3412;
  --color-principal-3: #c2410c;
  --color-principal-4: #ea580c;
  --color-principal-5: #f97316;
  --color-principal-6: #fb923c;
  --color-principal-7: #fdba74;
  --color-principal-8: #fed7aa;
  --color-principal-9: #ffedd5;
  --color-alternative-1: #312e81;
  --color-alternative-2: #3730a3;
  --color-alternative-3: #4338ca;
  --color-alternative-4: #4f46e5;
  --color-alternative-5: #6366f1;
  --color-alternative-6: #818cf8;
  --color-alternative-7: #a5b4fc;
  --color-alternative-8: #c7d2fe;
  --color-alternative-9: #e0e7ff;
  --color-red-1: #811D1D;
  --color-red-2: #981B1B;
  --color-red-3: #BA1C1C;
  --color-red-4: #DC2828;
  --color-red-5: #EF4343;
  --color-red-6: #F87272;
  --color-red-7: #FCA6A6;
  --color-red-8: #FEC8C8;
  --color-red-9: #FEE1E1;
  --color-blue-1: #1E3B8A;
  --color-blue-2: #1E3FAE;
  --color-blue-3: #1D4FD7;
  --color-blue-4: #2463EB;
  --color-blue-5: #3C83F6;
  --color-blue-6: #61A6FA;
  --color-blue-7: #91C3FD;
  --color-blue-8: #BEDBFE;
  --color-blue-9: #DCEBFE;
  --color-green-1: #064C39;
  --color-green-2: #066046;
  --color-green-3: #047756;
  --color-green-4: #059467;
  --color-green-5: #10B77F;
  --color-green-6: #36D399;
  --color-green-7: #6EE7B7;
  --color-green-8: #A5F3CF;
  --color-green-9: #D1FAE5;
  --color-yellow-1: #76350F;
  --color-yellow-2: #91400D;
  --color-yellow-3: #B35309;
  --color-yellow-4: #DB7706;
  --color-yellow-5: #F59F0A;
  --color-yellow-6: #FBBD23;
  --color-yellow-7: #FCD44F;
  --color-yellow-8: #FDE68B;
  --color-yellow-9: #FEF3C8;
  --color-purple-1: #4D1D95;
  --color-purple-2: #5A21B5;
  --color-purple-3: #6B26D9;
  --color-purple-4: #7C3BED;
  --color-purple-5: #895AF6;
  --color-purple-6: #A689FA;
  --color-purple-7: #C3B4FD;
  --color-purple-8: #DED7FE;
  --color-purple-9: #EBE7FE;
  --color-pink-1: #811842;
  --color-pink-2: #9B174C;
  --color-pink-3: #BF185D;
  --color-pink-4: #DB2979;
  --color-pink-5: #EC4699;
  --color-pink-6: #F471B5;
  --color-pink-7: #F9A9D5;
  --color-pink-8: #FBD0E8;
  --color-pink-9: #FCE8F4;
  --color-grey-1: #111827;
  --color-grey-2: #1f2937;
  --color-grey-3: #374151;
  --color-grey-4: #4b5563;
  --color-grey-5: #6b7280;
  --color-grey-6: #9ca3af;
  --color-grey-7: #d1d5db;
  --color-grey-8: #e5e7eb;
  --color-grey-9: #f3f4f6;
  --width-10: 10px;
  --width-20: 20px;
  --width-30: 30px;
  --width-40: 40px;
  --width-50: 50px;
  --width-100: 100px;
  --width-150: 150px;
  --width-200: 200px;
  --width-250: 250px;
  --width-300: 300px;
  --width-350: 350px;
  --width-400: 400px;
  --width-450: 450px;
  --width-500: 500px;
  --width-550: 550px;
  --width-600: 600px;
  --width-650: 650px;
  --width-700: 700px;
  --width-750: 750px;
  --width-800: 800px;
  --width-850: 850px;
  --width-900: 900px;
  --width-950: 950px;
  --width-1000: 1000px;
  --width-5pc: 5%;
  --width-10pc: 10%;
  --width-15pc: 15%;
  --width-20pc: 20%;
  --width-25pc: 25%;
  --width-30pc: 30%;
  --width-35pc: 35%;
  --width-40pc: 40%;
  --width-45pc: 45%;
  --width-50pc: 50%;
  --width-55pc: 55%;
  --width-60pc: 60%;
  --width-65pc: 65%;
  --width-70pc: 70%;
  --width-75pc: 75%;
  --width-80pc: 80%;
  --width-85pc: 85%;
  --width-90pc: 90%;
  --width-95pc: 95%;
  --width-100pc: 100%;
  --height-10: 10px;
  --height-20: 20px;
  --height-30: 30px;
  --height-40: 40px;
  --height-50: 50px;
  --height-100: 100px;
  --height-150: 150px;
  --height-200: 200px;
  --height-250: 250px;
  --height-300: 300px;
  --height-350: 350px;
  --height-400: 400px;
  --height-450: 450px;
  --height-500: 500px;
  --height-550: 550px;
  --height-600: 600px;
  --height-650: 650px;
  --height-700: 700px;
  --height-750: 750px;
  --height-800: 800px;
  --height-850: 850px;
  --height-900: 900px;
  --height-950: 950px;
  --height-1000: 1000px;
  --height-5pc: 5%;
  --height-10pc: 10%;
  --height-15pc: 15%;
  --height-20pc: 20%;
  --height-25pc: 25%;
  --height-30pc: 30%;
  --height-35pc: 35%;
  --height-40pc: 40%;
  --height-45pc: 45%;
  --height-50pc: 50%;
  --height-55pc: 55%;
  --height-60pc: 60%;
  --height-65pc: 65%;
  --height-70pc: 70%;
  --height-75pc: 75%;
  --height-80pc: 80%;
  --height-85pc: 85%;
  --height-90pc: 90%;
  --height-95pc: 95%;
  --height-100pc: 100%;
  --border-style-dotted: dotted;
  --border-style-dashed: dashed;
  --border-style-solid: solid;
  --border-style-double: double;
  --border-style-none: none;
  --border-style-hidden: hidden;
  --border-radius-0: 0px;
  --border-radius-1: 5px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-width: 1px;
  --border-top-width-1: 1px;
  --border-bottom-width-1: 1px;
  --border-left-width-1: 1px;
  --border-right-width-1: 1px;
  --border-width: 2px;
  --border-top-width-2: 2px;
  --border-bottom-width-2: 2px;
  --border-left-width-2: 2px;
  --border-right-width-2: 2px;
  --border-width: 4px;
  --border-top-width-4: 4px;
  --border-bottom-width-4: 4px;
  --border-left-width-4: 4px;
  --border-right-width-4: 4px;
  --border-width: 6px;
  --border-top-width-6: 6px;
  --border-bottom-width-6: 6px;
  --border-left-width-6: 6px;
  --border-right-width-6: 6px;
  --border-width: 10px;
  --border-top-width-10: 10px;
  --border-bottom-width-10: 10px;
  --border-left-width-10: 10px;
  --border-right-width-10: 10px;
  --margin-2: 2px;
  --margin-4: 4px;
  --margin-6: 6px;
  --margin-8: 8px;
  --margin-10: 10px;
  --margin-14: 14px;
  --margin-20: 20px;
  --margin-24: 24px;
  --margin-36: 36px;
  --margin-48: 48px;
  --padding-2: 2px;
  --padding-4: 4px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-14: 14px;
  --padding-20: 20px;
  --padding-24: 24px;
  --padding-36: 36px;
  --padding-48: 48px;
  --padding-54: 54px;
  --padding-60: 60px;
  --font-size-xs: 10px;
  --font-size-s: 14px;
  --font-size-sm: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 42px;
  --font-size-xxxl: 48px;
  --shadow-0: none;
  --shadow-1: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-3: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-4: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-5: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-6: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-7: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inset: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  --text-align-left: left;
  --text-align-center: center;
  --text-align-right: right;
  --text-decoration-none: none;
  --text-decoration-crossed: line-through;
  --background--none: none;
  --position-absolute: absolute;
  --position-relative: relative;
  --position--right-10: 10px;
  --position--left-10: 10px;
  --position--right-20: 20px;
  --position--left-20: 20px;
  --position--right-30: 30px;
  --position--left-30: 30px;
  --position--right-40: 40px;
  --position--left-40: 40px;
  --position--right-50: 50px;
  --position--left-50: 50px;
  --position--right-60: 60px;
  --position--left-60: 60px;
  --position--right-70: 70px;
  --position--left-70: 70px;
  --position--right-80: 80px;
  --position--left-80: 80px;
  --position--right-90: 90px;
  --position--left-90: 90px;
  --position--right-100: 100px;
  --position--left-100: 100px;
  --position--right-200: 200px;
  --position--left-200: 200px;
  --position--right-300: 300px;
  --position--left-300: 300px;
  --position--right-400: 400px;
  --position--left-400: 400px;
}

*/
$types: (
  normal: var(--color-principal-5),
  alternative: var(--color-alternative-5),
  danger: var(--color-red-5)
);

$styles: (
  primary: (background-color: inherit, color: inherit),
  secondary: (background-color: transparent, border-color: inherit),
  tertiary: (background-color: none, text-decoration: underline)
);

@each $type, $color in $types {
  .c-button--#{$type} {
    background-color: $color;
    border-color: $color;}

    @each $style, $properties in $styles {
      .c-button--#{$style} {
        @each $property, $value in $properties {
          #{$property}: $value;
        }
      }
    }
  }

