.g--width {
  @each $key, $value in $width {
    &--#{$key} {
      width: $value;
    }
  }
}





$posicionMediaQueries: "delante";

@each $clave-nombre, $valor-px in $mediaQueries{
  @media (min-width: #{$valor-px}) {
    @if $posicionMediaQueries == "detras" {
      @each $clave-name, $valor-array-colores in $colors-usando-1-array {
        $leng-tamanyo-colores: length($valor-array-colores);
        @for $i from 1 through $leng-tamanyo-colores {
          .g--background-color-#{$clave-name}-#{$i}#{$separadorMediaQueries}#{$clave-nombre} {
            background-color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }

          .g--text-color-#{$clave-name}-#{$i}#{$separadorMediaQueries}#{$clave-nombre} {
            color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }

          .g--border-color-#{$clave-name}-#{$i}#{$separadorMediaQueries}#{$clave-nombre} {
            border-color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }
        }
      }
    }

    @else {
      @each $clave-name, $valor-array-colores in $colors-usando-1-array {
        $leng-tamanyo-colores: length($valor-array-colores);
        @for $i from 1 through $leng-tamanyo-colores {
          #{$separadorMediaQueries}#{$clave-nombre}.g--background-color-#{$clave-name}-#{$i} {
            background-color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }

          #{$separadorMediaQueries}#{$clave-nombre}.g--text-color-#{$clave-name}-#{$i} {
            color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }

          #{$separadorMediaQueries}#{$clave-nombre}.g--border-color-#{$clave-name}-#{$i} {
            border-color: var(--color-usando-array-1-#{$clave-name}-#{$i});
          }
        }
      }
    }

  }
}

@each $clave-name-media, $valor-media-query in $mediaQueries {
  @media (min-width: $valor-media-query) {
    @each $clave-name-color, $valor-array-colores in $colors-usando-1-array {
      $length-tamayo-colores: length($valor-array-colores);


      .g--bg-color-#{$clave-name-color}\@#{$clave-name-media} {
        background-color: nth($valor-array-colores, 1);
      }
    }
  }
}