.c-panel {
    position: relative;
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;



                &--global {
                    display: block;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 32px;
                    padding: 32px;
                    border-radius: 60px;
                }

                &__title {
                    background-color: aliceblue;
                    border-radius: 50px 50px 0 0;
                    padding: 1em;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &__title--xl {
                    font-size: 16px;
                }

                &__body {
                    padding: 1em;
                }

                &__footer {
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    padding-bottom: 1em;
                }

                &__footer--xl {
                    font-size: 13px;
                }

                &--danger {
                    background-color: red;
                }
}


